<div >
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">My-App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link" [routerLink]="'/user'">Products</a>
          </li>
          
          </ul>
          <ul class="navbar-nav "  *ngIf="!authService.isLoggedIn()">
            <li class="nav-item">
              <a class="nav-link btn btn-warning text-white" [routerLink]="'/log'"><i class="bi bi-arrow-up-right-circle"></i>Login</a>
            </li> &nbsp;
            <li class="nav-item">
                <a class="nav-link btn btn-warning text-white" [routerLink]="'/reg'">Register</a>
            </li>
          </ul>
          <ul class="navbar-nav"  *ngIf="authService.isLoggedIn()">
            <li class="nav-item">
              <a class="nav-link btn btn-warning" (click)=" onLogout()">Logout</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    
    </div>

    
    
    
    <router-outlet></router-outlet>
    <app-qorder></app-qorder>
    
    
    
    
    
    
   